.form-columns{
    display:flex;
}
.form-column{
    flex: 1;
    margin-right: 20px;
}
.button-primary {
    background-color: #D92D83;
    border-color: #D92D83;
    color: #fff; /* Text color */
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.button-primary {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.overlay-hidden {
      display: none !important;
}
#paytrail-overlay-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 100;
}
.paytrail-intro-container {
   max-width:770px;
   border: 1px solid #D92D83;
   margin:0 auto;
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   margin-top:100px;
}
.paytrail-intro-header{
   background-color:#D92D83;
   width:100%;
   flex-shrink:0;
}
.paytrail-intro-logo-container{
   width:17%;
   display:inline-block;
}
.paytrail-intro-title-container{
   width:82%;
   display:inline-block;
}
.paytrail-intro-title-container h2 {
   color:#fff;
   font-size:36px;
   margin-bottom:5px;
}
.paytrail-intro-title-container p {
   color:#fff;
   font-size:16px;
}
.modern-button {
   background-color: #D92D83;
   color: #fff;
   border: none;
   padding: 10px 25px;
   cursor: pointer;
   border-radius: 10px;
   font-size: 16px;
   transition: 0.3s;
   margin-right: 8px;
   text-transform: uppercase;
   font-weight: bold;
}
.modern-button.gray{
   background: #fff;
   border:1px solid #555;
   color: #555;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
   
}
.modern-button:hover {
   background-color: #fff;
   color:#D92D83;
}
.ui-dialog-titlebar {
background: none;
border:none
}
.ui-widget-content {
   border: none; 
}
