.paytrail-provider-group {
    background-color: #ebebeb;
    padding: 8px 12px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    align-items: center;

    &-title {
        margin-top: 2px;
        line-height: 1.2em;
        font-size: 100%;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;

        display: flex;
        align-items: center;
    }
    img {
        float: none;
        margin-right: 8px;
    }

    .provider-list {
        text-align: right;
        float: right;
        font-style: italic;
        margin-left: 2em;
        width: 100%;
        font-size: 75%;
    }


    &.selected {
        background-color: #33798d;
        color: #ffffff;

        .paytrail-provider-group-title {
            color: #ffffff;

            i {
                filter: brightness(5);
            }

            &.bank {
                background-position-y: center;
                background-size: 28px 28px;
            }

            &.credit {
                background-position-y: center;
                background-size: 28px 28px;
            }

            &.creditcard {
                background-position-y: center;
                background-size: 28px 28px;
            }

            &.mobile {
                background-position-y: center;
                background-size: 28px 28px;
            }
        }
    }
}
.paytrail-provider-group:hover {
    background-color: #d0d0d0;
}
.paytrail-provider-group.selected:hover {
    background-color: #33798d;
}

.paytrail-woocommerce-payment-fields {

    margin: 0;
    padding: 0;
    min-height: 0px;

    &.hidden {
        display: none;
    }

    &--list-item {
        position: relative;
        display: inline-block;
        width: 28%;
        list-style-type: none !important;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;

        label {
            display: inline;
        }

        &--wrapper {
            text-align: center;
            max-width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 4px;
        }

        &--input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &--input + &--wrapper {
            border: 2px solid #ebebeb;
        }

        &:hover .paytrail-woocommerce-payment-fields--list-item--wrapper,
        &--input:checked + &--wrapper {
            border: 2px solid #33798d;
        }

        &--img {
            float: none !important;
            cursor: pointer;
            width: 100%;
            max-width: 100% !important;
            min-height: 5em !important;
            max-height: 9em !important;
            padding: 5% 4% !important;
            margin-left: 0 !important;
        }

        &.apple-pay {
            /* Hide Apple Pay by default */
            display: none;
        }
    }
}
